{% extends 'base.html' %}  {% block title %}Forum{% endblock %}

{% block content %}  
 <body>

  <h1 align="center">Forum</h1>  
  <button id="scrollButton" class="btn btn-link">Create a Post</button>

  <div class="list-group list-group-flush" id="posts">
    {% for post in posts %}
    <p class="list-group-item">
      <div class="row">
        <div class="col-md-9">
          <a href="{{ url_for('views.view_post', post_id=post.id) }}">
            <h5>{{ post.title }}</h5>
          </a>
          <small>  - written by {{ post.user_name }}</small>
        </div>
        <div class="col-md-3">
          <small>{{ post.created }}</small>
        </div>
      </div>
    </p>
    <p class="list-group-item">
      {{ post.sub_title }}
    </p>

    <div align="center">
      <a href="{{ url_for('views.view_post', post_id=post.id) }}">
        <button class="btn btn-link">View Comments</button>
      </a>
    </div>
    <br />
    {% endfor %} 
  </div>
  <br />

  <h3 id="targetHeading" align="center">Create a Post</h3>
  <form method="POST" acion="{{ url_for('views.create_post') }}">
    <textarea placeholder="Title" name="title" id="title" class="form-control"></textarea>
    <textarea placeholder="Sub-title (What is your post about?)" name="sub-title" id="sub-title" class="form-control"></textarea>
    <textarea placeholder="Post content" name="post" id="post" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" name="submit_button" value="post_btn" class="btn btn-primary">Add Post</button>
    </div>
  </form>

  <script>
    //function to scroll to heading on button click 
    document.getElementById("scrollButton").addEventListener("click", function() {
      var targetHeading = document.getElementById("targetHeading");
      targetHeading.scrollIntoView({ behavior: "smooth" });
    });
  </script>

</body>
{% endblock %} 
