{% extends 'base.html' %}  {% block title %}Forum{% endblock %}

{% block content %}  
 <body>

  <h1 class="text-center mt-3">Forum</h1>
  <div class="container">
    <button id="scrollButton" class="btn btn-link">Create a Post</button>
  </div>  

  <div class="container list-group list-group-flush" id="posts">
    {% for post in posts %}
    <div class="bg-light bg-gradient">
      <p class="list-group-item no-border">
        <div class="row no-border">
          <div class="col-md-9">
            <a href="{{ url_for('views.view_post', post_id=post.id) }}">
              <h5 class="pl-3">{{ post.title }}</h5>
            </a>
            <small class="p-3">  - written by {{ post.user_name }}</small>
          </div>
          <div class="col-md-3">
            <small>{{ post.created }}</small>
          </div>
        </div>
      </p>
      <p class="list-group-item text-black bg-light no-border">
        {{ post.sub_title }}
      </p>

      <div align="center" class="mb-3">
        <a href="{{ url_for('views.view_post', post_id=post.id) }}">
          <button class="btn btn-link">View Comments</button>
        </a>
      </div>
    </div>
    <br />
    {% endfor %} 
  </div>

  <h1 id="targetHeading" class="text-center mt-5">Create a Post</h1>
  <div class="container">
    <form method="POST" action="{{ url_for('views.create_post') }}">
      <textarea placeholder="Title" name="title" id="title" class="form-control"></textarea>
      <textarea placeholder="Sub-title (What is your post about?)" name="sub-title" id="sub-title" class="mt-2 form-control"></textarea>
      <textarea placeholder="Post content" name="post" id="post" class="mt-2 form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" name="submit_button" value="post_btn" class="btn btn-primary mb-3">Add Post</button>
      </div>
    </form>
  </div>

  <script>
    //function to scroll to heading on button click 
    document.getElementById("scrollButton").addEventListener("click", function() {
      var targetHeading = document.getElementById("targetHeading");
      targetHeading.scrollIntoView({ behavior: "smooth" });
    });
  </script>

</body>
{% endblock %} 
