{% extends "base.html" %} {% block title %}Game{% endblock %} 

{% block head %}

<style>
    .game{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: auto;
    }
</style>

{% endblock %}

{% block content %}

<!-- Embeds the game from itch.io -->
<div class="game">

    <iframe frameborder="0" src="https://itch.io/embed-upload/8091907?color=333333" 
    allowfullscreen="true" width="1280" height="720">
    <a href="https://rye-george.itch.io/blast-and-dash">Play Blast and Dash on itch.io</a>
    </iframe>

</div>

<script>
    function reportError(event) {
        console.error("Failed to load the game:", event.message);
    }
</script>

{% endblock %}
