{% extends "base.html" %} {% block title %}Home{% endblock %} 


{% block background %}

<div class="bg-container d-flex justify-content-center align-items-center">

<div class="video-overlay"></div>

  <h1 class="main-header">Play The Game!</h1>

  <div class="d-flex btn-container">
    <a href="/game" id="home-btn" class="btn-primary btn-lg">Play Game</a>
    
    <a href="/download" id="home-btn" class="btn-primary btn-lg">Download</a>

  </div>

  <video autoplay muted loop id = "backgroundVideo" src="/static/Blast and Dash BG.mp4" type="video/mp4"></video>
</div>


<div class="section1">
  <div class="container">
    <h1 class="text-center">About The Game</h1>

<p>Blast and Dash is a fast-paced 2D platformer where you takes on the role of a pirate who has been stranded on a deserted island.  
  You must use your various abilities to traverse the island and find the four torn map pieces in order to escape the island.
  But it won’t be easy as there are many dangers on the island.  you must defeat their enemies and avoid the numerous traps in order to leave the island.
</p>
  </div>
</div>

<div class="section2">
  <h1 class="text-center">About The Game</h1>

<p>Blast and Dash is a fast-paced 2D platformer where you takes on the role of a pirate who has been stranded on a deserted island.  
  You must use your various abilities to traverse the island and find the four torn map pieces in order to escape the island.
  But it won’t be easy as there are many dangers on the island.  you must defeat their enemies and avoid the numerous traps in order to leave the island.
</p>
</div>

{% endblock %}

{% block content %}



{% endblock %}