{% extends "base.html" %} {% block title %}Home{% endblock %} 


{% block head %}

<style>
  body{
    background-color: #33323d;
  }
  
  h1{
    font-size: 52px;
    color: whitesmoke;
  }
  
  h2{
    font-size: 48px;
    color: whitesmoke;
  }
  
  .content-p{
    font-size: 24px;
    color: whitesmoke;
  }



</style>

{% endblock %}

{% block background %}

<div class="bg-container d-flex">

<div class="video-overlay"></div>

<div class="bg-content">

  <h1 class="main-header">Embark on an Epic Pirate Adventure</h1>


  <div class="d-flex btn-container">
    <a href="/game" id="home-btn" class="btn-primary btn-lg">Play Game</a>
    
    <a href="/download" id="home-btn" class="btn-primary btn-lg">Download</a>
  </div>

</div>

<img class="logo" src="/static/Blast and Dash logo.png" alt="Blast and Dash logo">


  <video autoplay muted loop id = "backgroundVideo" src="/static/Blast and Dash BG.mp4" type="video/mp4"></video>
</div>

<div class="section1">

  <div class="section1-overlay"></div>
    <div class="content">
      <div class="container">
        <h1 class="text-center">About The Game</h1>
    
        <p class="content-p">
            Take on the role of a daring pirate, fighting through a deserted island as you piece together a map to escape.
        </p>

        <div class="video-container border border-3 border-dark">
          <video autoplay muted loop id = "content-backgroundvideo" src="/static/Gameplay.mp4" type="video/mp4"></video>
        </div>
      </div>
    </div>

    <div class="background-img"></div>

</div>

<div class="section2">
  <div class="container">
    <div class="content">
      <h1 class="text-center">The Shotgun</h1>

      <p class="content-p">
        Using your trusty shotgun, propel yourself through the air and vanquish foes with this weapon of mobility and combat
      </p>

        

    </div>
  </div>

  <div class="image-container text-center">

    <div class="section2-img border border-light">
      <video autoplay muted loop id = "content-backgroundvideo" src="/static/Shooting shotgun.mp4" type="video/mp4"></video>
    </div>

    <div class="section2-img border border-light">
      <video autoplay muted loop id = "content-backgroundvideo" src="/static/Shotgun Jump.mp4" type="video/mp4"></video>
    </div>

  </div>
</div>


<div class="section1">

  <div class="section1-overlay"></div>
    <div class="container">
      <div class="content">
        <h1 class="text-center">The Abilites</h1>
    
        <p class="content-p">
          Dash swiftly, slide and jump off walls! Unlock your potential, conquer challenges, and outmaneuver your enemies.
        </p>
      </div>
    </div>
      <div class="image-container text-center">

        <div class="section2-img border border-dark">
          <video autoplay muted loop id = "content-backgroundvideo" src="/static/Dash.mp4" type="video/mp4"></video>
        </div>

        <div class="section2-img border border-dark">
          <video autoplay muted loop id = "content-backgroundvideo" src="/static/Wall jump and Wall Slide.mp4" type="video/mp4"></video>
        </div>

      </div>

    

    <div class="background-img-2"></div>
</div>

<div class="section2">
  <div class="content">
    <div class="container">
      <h1 class="text-center">The Enemies</h1>

      <p class="content-p">
        The sturdy crab, the spinning starfish, and the pearl-shooting clam, each pose a unique threat to your survival.
      </p>
    </div>
  </div>

  <div class="image-container text-center">

    <div class="section2-img border border-light">
      <video autoplay muted loop id = "content-backgroundvideo" src="/static/Crab.mp4" type="video/mp4"></video>
    </div>
    
    <div class="section2-img border border-light">
      <video autoplay muted loop id = "content-backgroundvideo" src="/static/Starfish.mp4" type="video/mp4"></video>
    </div>

    <div class="section2-img border border-light">
      <video autoplay muted loop id = "content-backgroundvideo" src="/static/Clam.mp4" type="video/mp4"></video>
    </div>


  </div>


</div>

{% endblock %}

{% block content %}


<script>
window.addEventListener('scroll', function() {
  var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
  var backgroundImgs = document.querySelectorAll('.background-img, .background-img-2');
  backgroundImgs.forEach(function(backgroundImg) {
    backgroundImg.style.transform = 'translateY(' + scrollTop / 2 + 'px)';
  });
});

</script>

{% endblock %}