{% extends "base.html" %} {% block title %}Login{% endblock %} 

{% block head %}
<style>

  #backgroundVideo {
    position: absolute;
    z-index: -100;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
  }

  #center-item {
    display: inline;
    float: none;
  }

  #mainBTN {
    height: 1080px;
    width: auto;
  
    margin:auto;
  }

  form {
    align-content: center;
    margin: auto;
    width: 60%;
  }  

</style>
{% endblock %}

{% block background %}
{% endblock %}

{% block content %}
<div>
  <video autoplay muted loop id = "backgroundVideo" src="/static/Blast and Dash BG.mp4" type="video/mp4"></video>
</div>
    <form method="POST">
      <h3 class="text-light" align="center">Login</h3>
      <div class="form-group">
        <label class="text-light" for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label class="text-light" for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>

{% endblock %}