{% extends "base.html" %} {% block title %}Profile{% endblock %} 


{% block content %}


<div class="container">

    <li class="list-group-item"> 
        <p class="text-left"> 
          <span class="badge badge-pill badge-primary">First Name</span> 
        </p> 
        <p class="text-left">{{user.first_name}}</p> 

        <p class="text-left"> 
            <span class="badge badge-pill badge-primary">Email</span> 
        </p> 
        <p class="text-left">{{user.email}}</p> 

        <p class="text-left"> 
            <span class="badge badge-pill badge-primary">Password</span> 
        </p> 
        <p class="text-left">      
            {{user.password}}
            <a href="/update-password">Update</a>
        </p> 
    </li> 

</div>

{% endblock %}