{% extends "base.html" %} {% block title %}Profile{% endblock %} 


{% block content %}


<div class="container">

    <div">

        <div>
            <li class="list-group-item list-group-horizontal">
                <p class="text-left">First Name</p>

                <p class="text-center">Rye</p>
            </li>
        </div>

        <div>
            <li class="list-group-item d-flex">
                <p class="text-left">Last Name</p>

                <p class="text-center">George</p>
            </li>
        </div>

    </div>

</div>

{% endblock %}