footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }

  body{
    background-color: #33323d;
  }
  
  h1{
    font-size: 52px;
    color: whitesmoke;
  }
  
  h2{
    font-size: 48px;
    color: whitesmoke;
  }
